<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-push-notification-baidu"
        version="0.0.1">
    <name>BaiduPush</name>
    <description>Cordova Plugin for Baidu Push Notifications (SDK v8.3.68.0)</description>
    <license>Apache 2.0</license>
    <keywords>cordova,baidu,push,notification</keywords>
    <js-module src="www/baiduPush.js" name="baiduPush">
        <clobbers target="baiduPush" />
    </js-module>

    <!-- Android platform -->
    <platform name="android">
        <!-- Add Baidu Push SDK AAR file -->
        <lib-file src="src/android/libs/pushsdk-v8.3.68.0.aar" />

      <config-file target="res/xml/config.xml" parent="/*">
            <feature name="BaiduPush">
                <param name="android-package" value="com.cordova.plugins.push.baidu.BaiduPush" />
            </feature>
        </config-file>

        <!-- Add Baidu Push Receiver -->
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <receiver
                android:name="com.cordova.plugins.push.baidu.BaiduPushReceiver"
                android:exported="true">
                <intent-filter>
                    <!-- Receive push messages -->
                    <action android:name="com.baidu.android.pushservice.action.MESSAGE" />
                    <!-- Receive notifications -->
                    <action android:name="com.baidu.android.pushservice.action.RECEIVE" />
                    <!-- Receive notification clicks -->
                    <action android:name="com.baidu.android.pushservice.action.notification.CLICK" />
                </intent-filter>
            </receiver>
        </config-file>

      
        <!-- Add necessary permissions -->
        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.WAKE_LOCK" />
            <uses-permission android:name="android.permission.VIBRATE" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
            <uses-permission android:name="android.permission.POST_NOTIFICATIONS" /> <!-- Required for Android 13+ -->
        </config-file>

        <!-- Add source files -->
        <source-file src="src/android/BaiduPush.java" target-dir="src/com/cordova/plugins/push/baidu" />
        <source-file src="src/android/BaiduPushReceiver.java" target-dir="src/com/cordova/plugins/push/baidu" />
        <!-- Add Gradle configuration -->
        <framework src="src/android/build.gradle" custom="true" type="gradleReference" />
    </platform>
</plugin>