<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-push-baidu-2024"
        version="1.0.20">

    <name>BaiduPush</name>
    <description>Cordova plugin for Baidu Push Service</description>
    <license>MIT</license>
    <keywords>cordova, baidu, push notifications</keywords>

    <js-module src="www/baiduPush.js" name="baiduPush">
        <clobbers target="baiduPush" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
        <feature name="BaiduPush">
            <param name="android-package" value="com.cordova.plugins.push.baidu.BaiduPush" />
        </feature>
        </config-file>
        
        <!-- Uses Permissions -->
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.VIBRATE" />
            <uses-permission android:name="baidu.push.permission.WRITE_PUSHINFOPROVIDER.com.cordova.plugins.push.baidu" />
            <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
            <uses-permission android:name="com.vivo.abe.permission.launcher.notification.num" />
            <uses-permission android:name="com.vivo.notification.permission.BADGE_ICON" />
            <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE" />
            <uses-permission android:name="com.cordova.plugins.push.baidu.permission.MIPUSH_RECEIVE" />
        </config-file>

        <!-- Declare permission -->
        <config-file target="AndroidManifest.xml" parent="/*">
            <permission
                android:name="baidu.push.permission.WRITE_PUSHINFOPROVIDER.com.cordova.plugins.push.baidu"
                android:protectionLevel="signature" />

            <permission
                android:name="com.cordova.plugins.push.baidu.permission.MIPUSH_RECEIVE"
                android:protectionLevel="signature" />
        </config-file>

    <source-file src="src/android/BaiduPush.java" target-dir="src/com/cordova/plugins/push/baidu" />
    <source-file src="src/android/BaiduPushReceiver.java" target-dir="src/com/cordova/plugins/push/baidu" />
    <lib-file src="src/android/baidu-push-sdk-8.3.68.0-ext.aar"/>
    <framework src="src/android/baidu-push.gradle" custom="true" type="gradleReference"/>
  </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="BaiduPush">
                <param name="ios-package" value="BaiduPushPlugin"/>
            </feature>
        </config-file>

        <header-file src="src/ios/BaiduPushPlugin.h" />
        <source-file src="src/ios/BaiduPushPlugin.m" />

      <!-- Wechat Official -->
      <header-file src="libs/ios/BPush.h" />
      <source-file src="libs/ios/libBPush.a" framework="true" />

      <!-- Other required frameworks -->
      <framework src="libz.dylib" />
      <framework src="Foundation.framework" />
      <framework src="CoreTelephony.framework" />
      <framework src="SystemConfiguration.framework" />

    </platform>
</plugin>
